.ticket{
    width: 630px;
    height: 170px;
    display: flex;
    margin-bottom: 50px;
    border-radius: 6px;
    box-shadow: 0 0 4px 3px rgb(236, 236, 236);
    font-family: 'Open Sans', sans-serif;
    cursor: default;
}

.logo_price{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    width: 160px;
    padding: 0 15px 15px 15px;
    border-right: 1px solid rgb(236, 236, 236);
}

.company_logo{
    width: 100%;
    height: 60%;
    display: inline-block;
    background: url("../img/Companylogo.svg");
}

.company_price{
    height: 50px;
    border: none;
    background-color: rgba(255, 97, 27, 0.96);
    border-radius: 6px;
    color: white;
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    cursor: url("../img/Cursor.svg"), pointer;
}

.info_ticket__time{
    display: flex;
    flex-direction: column;
    width: 63%;
    padding-top: 25px;
}

.info_time{
    display: flex;
}

.time{
    font-size: 30px;
    margin-right: 10px;
}

.time_end{
    padding-left: 15px;
}

.info_ticket__transfers{
    font-size: 13px;
    display: inline-block;
    width: 200px;
    padding-top: 5px;
    position: relative;
    color: #a5a5a5;
}
.info_ticket__transfers:before{
    content: '___________________________';
    color: #c2c2c2;
    background: url("../img/airplane_icon.svg") no-repeat 176px 8px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 15px;
    left: 0;
}

.info{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    padding-top: 10px;
}

.info_ticket{
    display: flex;
    flex-direction: column;
}

.info_ticket__date{
    color: #a5a5a5;
    font-size: 12px;
}

.info_ticket__end{
    padding-right: 20px;
}